<h1>Top 10</h1>

In a first Jupyter notebook called Top10.ipynb, analyze what the top 10 causes of calls to 311 are in your chosen ZIP code, and calculate how many total incidents of each of these 10 types there have been in the year 2020. Your answer should be a pandas.Series which you must call `top10` (as a Python variable), which should be in descending order by number of incidents, and which contains as its labels the incident type (a string) and as associated values the total number of incidents of this type in 2020.

In [4]:
import numpy as np
import pandas as pd

In [2]:
#import 311_Service_Requests_2020.csv
file = '311_Service_Requests_2020.csv'
df = pd.read_csv(file)

/Users/hanxiao/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
#choose zip code 10025
df = df[df["Incident Zip"] == 10025]

In [6]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
11,45278238,01/01/2020 12:01:46 AM,01/01/2020 05:37:46 AM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,NaN,10025.0,865 COLUMBUS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.796930,-73.964551,"(40.79692992181987, -73.96455113216999)"
141,45278928,01/01/2020 12:36:42 AM,01/01/2020 01:19:30 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10025.0,118 WEST 109 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.801499,-73.962255,"(40.80149916419462, -73.96225510969452)"
463,45282069,01/01/2020 01:37:02 AM,01/01/2020 01:55:21 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10025.0,120 WEST 109 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.801516,-73.962295,"(40.801515645553465, -73.96229483182476)"
979,45286989,01/01/2020 03:33:15 AM,02/21/2020 08:45:41 AM,TLC,Taxi and Limousine Commission,For Hire Vehicle Complaint,Driver Complaint - Passenger,NaN,10025.0,WEST 96 STREET,...,NaN,MANHATTAN,"WEST 96 STREET AND WEST END AVENUE, MANHATTA...",NaN,NaN,NaN,NaN,40.795252,-73.973209,"(40.795252485299606, -73.97320906036077)"
1166,45287132,01/01/2020 04:33:27 AM,01/03/2020 05:46:11 AM,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,10025.0,216 WEST 104 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.799406,-73.967335,"(40.799406488813695, -73.96733454030634)"

In [8]:
#find top10 incident types
total_incidents = df.groupby("Complaint Type")['Unique Key'].count()
top10 = total_incidents.sort_values(ascending = False)[:10]

In [9]:
top10

Complaint Type
Noise - Residential            2952
Noise - Street/Sidewalk        2128
HEAT/HOT WATER                 1885
Noise                          1131
Illegal Parking                 792
Noise - Vehicle                 787
Non-Emergency Police Matter     773
Rodent                          691
Illegal Fireworks               672
UNSANITARY CONDITION            565
Name: Unique Key, dtype: int64

In [10]:
type(top10)

pandas.core.series.Series